{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-lg">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{% trans "Change Password" %}</h5>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <div class="col">
                            <label for="id_old_password" class="col-form-label">
                                {% trans "Current Password" %}
                                <span class="pl-2 req text-danger">*</span>
                            </label>
                            <input id="id_old_password" type="password" required 
                                   autocomplete="off" class="form-control"
                                   name="oldpassword">
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <div class="col">
                            <label for="id_password1" class="col-form-label">
                                {% trans "New Password" %}
                                <span class="pl-2 req text-danger">*</span>
                            </label>
                            <input id="id_password1" type="password" required 
                                   autocomplete="off" class="form-control" 
                                   name="password1">
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <div class="col">
                            <label for="id_password2" class="col-form-label">
                                {% trans "New Password (again)" %}
                                <span class="pl-2 req text-danger">*</span>
                            </label>
                            <input id="id_password2" type="password" required 
                                   autocomplete="off" class="form-control" 
                                   name="password2">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success me-2"
                            name="action">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}