{% extends 'base.html' %}

{% block content %}
<div class="container mt-2 mt-md-4 mb-5">
    <div class="row">
        <div class="col">
        {% if validlink %}
            <h3>Change password</h3>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <div class="col">
                        <label class="col-form-label" for="id_{{ field.name }}">
                            {{ field.label }}:
                        </label>
                        <input type="password" class="form-control" required
                            name="{{ field.name }}" id="id_{{ field.name }}"> 
                        <p class="help-text">{{ field.help_text }} </p>
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Change password</button>
            </form>
        {% else %}
            <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
            </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}