{% extends 'base.html' %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <div class="col">
            <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
            </p>
            <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>
            <div class="text-center my-5">
                <a href="/" class="btn btn-info">Go to Home Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}