{% load static %}
{% load i18n %}

<div class="row py-2 mb-2">
    {% for creator in creators %}
    <div class="col-md-4 col-lg-3 col-xl-4">
        <a href="/profile/{{ creator.user.username }}/"
           class="dcc-hp-profile-card-btn text-dark">
            <div class="card dcc-hp-profile-cards">
                {% if creator.profile_photo %}
                <img src="{{ creator.profile_photo.url }}"
                    alt="{% translate 'Profile Photo' %}"
                    class="rounded-circle card-img-top">
                {% else %}
                <img src="{% static "core/images/profile/male-default.jpg" %}"
                    alt="{% translate 'Profile Photo' %}"
                    class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ creator.display_name }}</h5>
                    <p class="card-text">{{ creator.bio|default_if_none:'' }}</p>

                    <!-- Add genres/interests here -->
                    <div class="row my-2">
                        <div class="col">
                            <div class="my-2">
                            {% if creator.genres.count %}
                                {% for genre in creator.genres.all %}
                                <span class="badge bg-light text-dark mx-1">{{ genre.name }}</span>
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% if creators.has_next %}
<div hx-get="{% url 'core:c_creators' %}?page={{ page|add:1 }}"
    hx-trigger="revealed" 
    hx-swap="afterend"
    hx-include="[name='creator_srch'], [name='creator_genres']">
</div>
{% endif %}