{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block css_styles %}
    <link href="{% static "fw/Magnific-Popup/magnific-popup.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title pb-1">{{ profile.display_name }}</h5>
                    <hr>
                    <div class="row g-0 my-4">
                        <div class="col-md-4 mb-3 mb-md-0">
                            {% if profile.profile_photo %}
                            <img src="{{ profile.profile_photo.url }}"
                                 alt="{% translate 'Profile Photo' %}"
                                 class="img-fluid">
                            {% else %}
                            <img src="{% static "core/images/profile/male-default.jpg" %}"
                                 alt="{% translate 'Profile Photo' %}"
                                 class="img-fluid">
                            {% endif %}
                        </div>
                        <div class="col-md-8 px-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="py-2">
                                        <p>{{ profile.display_loc_str|linebreaks }}</p>
                                        {% if profile.phone %}
                                        <a href="tel:{{ profile.phone }}">
                                            <i class="bi bi-telephone-fill pe-2"></i>{{ profile.phone }}
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="social-links mt-2">
                                        {% if profile.twitter %}
                                        <a href="{{ profile.twitter }}" class="twitter" target="_blank">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                        {% endif %}
                                        {% if profile.facebook %}
                                        <a href="#" class="facebook" target="_blank">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                        {% endif %}
                                        {% if profile.instagram %}
                                        <a href="{{ profile.instagram }}" class="instagram" target="_blank">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                        {% endif %}
                                        {% if profile.linkedin %}
                                        <a href="{{ profile.linkedin }}" class="linkedin" target="_blank">
                                            <i class="bi bi-linkedin"></i>
                                        </a>
                                        {% endif %}
                                        {% if profile.youtube %}
                                        <a href="{{ profile.youtube }}" class="youtube text-danger" target="_blank">
                                            <i class="bi bi-youtube"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6" id="profile_genres_wrapper">
                                    <div class="py-2">
                                        <p class="fw-bold pb-0 text-brown">{% translate "GENRES" %}</p>
                                        <div class="">
                                        {% if profile.genres.count %}
                                            {% for genre in profile.genres.all %}
                                            <span class="badge bg-light text-dark mx-1">
                                                <p class="mb-1">{{ genre.name }}</p>
                                            </span>
                                            {% endfor %}
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col">
                            <h5 class="card-title py-0">{% translate "BIOGRAPHY" %}</h5>
                            <p>{{ profile.bio }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title py-0">{% translate "UPLOADS" %}</h5>
                        </div>
                        <div class="col-4 col-lg-2 my-2">
                            <div class="magnific-img">
                                <a class="image-popup-vertical-fit" href="https://unsplash.it/974/?random" title="9.jpg">
                                    <img src="https://unsplash.it/974/?random" alt="9.jpg" class="img-fluid"/>
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 my-2">
                            <div class="magnific-img">
                                <a class="image-popup-vertical-fit" href="https://unsplash.it/900/?random" title="10.jpg">
                                    <img src="https://unsplash.it/900/?random" alt="10.jpg" class="img-fluid" />
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 my-2">
                            <div class="magnific-img">
                                <a class="image-popup-vertical-fit" href="https://unsplash.it/902" title="3.jpg">
                                    <img src="https://unsplash.it/902/" alt="3.jpg" class="img-fluid" />
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 my-2">
                            <div class="magnific-img">
                                <a class="image-popup-vertical-fit" href="https://unsplash.it/901" title="4.jpg">
                                    <img src="https://unsplash.it/901" alt="4.jpg" class="img-fluid" />
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 my-2">
                            <div class="magnific-img">
                                <a class="image-popup-vertical-fit" href="https://unsplash.it/888/?random" title="1.jpg">
                                    <img src="https://unsplash.it/888/?random" alt="1.jpg" class="img-fluid" />
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 my-2">
                            <div class="magnific-img">
                                <a class="image-popup-vertical-fit" href="https://unsplash.it/931/?random" title="2.jpg">
                                    <img src="https://unsplash.it/931/?random" alt="2.jpg" class="img-fluid" />
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 my-2">
                            <div class="magnific-img">
                                <a class="image-popup-vertical-fit" href="https://unsplash.it/908/?random" title="5.jpg">
                                    <img src="https://unsplash.it/908/?random" alt="5.jpg" class="img-fluid" />
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 my-2">
                            <div class="magnific-img">
                                <a class="image-popup-vertical-fit" href="https://unsplash.it/978/?random" title="6.jpg">
                                    <img src="https://unsplash.it/978/?random" alt="6.jpg" class="img-fluid" />
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 my-2">
                            <div class="magnific-img">
                                <a class="image-popup-vertical-fit" href="https://unsplash.it/857/?random" title="7.jpg">
                                    <img src="https://unsplash.it/857/?random" alt="7.jpg" class="img-fluid" />
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">
            {% include 'components/right_sidebar.html' %}
        </div><!-- End Right side columns -->
    </div>
</div>
{% endblock %}


{% block js_script %}

<script src="{% static "fw/Magnific-Popup/magnific-popup.min.js" %}"></script>

{% endblock %}